/* *{ outline: 1px;
    border: green dotted 2px;
    margin: 0;
    padding:0;
  } */

  .container {
    margin-right:3em;
    min-width:100%;
    height:100vh;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "icon"
      "nav"
      "portrait"
      "content"
      "footer";
    }

   /* NEWWORK */

h1{
        font-size: 20pt;
        text-align: center;
        font-weight: 500;
   }

   * {box-sizing:border-box}

   /* Slideshow container */
   .slideshow-container {
     max-width: 1000px;
     position: relative;
     margin: auto;
   }
   
   /* Hide the images by default */
   .mySlides {
     display: none;
   }
   
   /* Next & previous buttons */
   .prev, .next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     margin-top: -22px;
     padding: 16px;
     color: white;
     font-weight: bold;
     font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
   }
   
   /* Position the "next button" to the right */
   .next {
     right: 0;
     border-radius: 3px 0 0 3px;
   }
   
   /* On hover, add a black background color with a little bit see-through */
   .prev:hover, .next:hover {
     background-color: rgba(0,0,0,0.8);
   }
   
   /* Number text (1/3 etc) */
   .numbertext {
     color: #f2f2f2;
     font-size: 12px;
     padding: 8px 12px;
     position: absolute;
     top: 0;
   }
   
   /* The dots/bullets/indicators */
   .dot {
     cursor: pointer;
     height: 15px;
     width: 15px;
     margin: 0 2px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
   }
   
   .active, .dot:hover {
     background-color: rgb(157, 219, 241);
   }
   
   /* Fading animation */
   .fade {
     -webkit-animation-name: fade;
     -webkit-animation-duration: 1.5s;
     animation-name: fade;
     animation-duration: 1.5s;
   }
   
   @-webkit-keyframes fade {
     from {opacity: .4}
     to {opacity: 1}
   }
   
   @keyframes fade {
     from {opacity: .4}
     to {opacity: 1}
   }

/* ORIGNAL WORK    */
nav {
      text-align: center;
      grid-area: nav;
      padding-right: 25px;
      font-size: 2pt;
      padding-bottom: 30pt;
    }
  
nav ul{
      list-style-type: none;
    } 
  
img {
      width: 480px;
      grid-area: content;
    }
  
body{
      background-color: white;
      font-family: 'Open Sans', sans-serif;
    }
  
svg {
      transform: scale(.50);
    }
    
li {
      display: inline;
      padding: 25px;
      font-size: 2em;
    }
  
p {
    margin-top:0;
    font-weight: 300;
    }
  
a:link {
      text-decoration: none;
      color: rgb(157, 219, 241);
    }
      
a:visited {
      text-decoration: none;
      color: rgb(157, 219, 241);
    } 
    
a:hover {
      text-decoration: none;
      color: black;
    }
      
a:active {
      text-decoration: none;
    }
  /* EFFECTS */
  a {
      color: black;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.15em;
      display: inline-block;
      padding: 0px;
      position: relative;
      font-weight: 400;
      font-size: 17px;
    }
    
  a:after {    
      background: none repeat scroll 0 0 transparent;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: black;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    
  a:hover:after{ 
      width: 100%; 
      left: 0;
  }
  /* NEW THINGS */

  .hovereffect {
    text-align: center;

  }

  /* DESKTOP */
  @media (min-width: 1040px) {
    .container{
        width:100%;
        height: 100vh;
        display:grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "icon icon nav"
            "mySlide mySlides mySlides"
            "content content content"
            "footer footer footer";
        } 
  
  img {
    width: 900px;
    grid-area: content;
    padding-left: 375px;
  }
  
  .icon{
    grid-area: icon;
    width: 300px;
    padding-left: 350px;
  }
      
  .content{
    grid-area: content;
    margin-left: 500px;
    margin-right: 550px;
    text-align: left;
  }
      
  nav {
    text-align: center;
    grid-area: nav;
    padding-top: 150px;
    padding-right: 390px;
    }
    
    .footer{
      grid-area: footer;
      text-align: center;
    }
  }